*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(111, 111, 171, 0.3);
    width: 100%;
    height: 100vh;
}

h4{
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: .4em;
    margin-left: 2em;
    }


fieldset label{
    font-weight: 600;
    margin-top: .2em;
}

input:hover{
    box-shadow: 2px 3px #333;
    margin-left: .1em;
}

#checkbox, #sexo{
    height: auto;
    box-shadow: none;
    margin: auto;
}

#range{
    width: 49%;
}

fieldset input{
    border: none;
    text-shadow: .2px .3px #bbbb;
    height: 31px;
    margin-left: 2em;
    letter-spacing: .1rem;
    margin-bottom: .4em;
}

::placeholder{
    font-weight: bold;
    text-transform: capitalize;
    font-size: .8em;
    padding-inline: 2em;
    font-style: italic;

}
fieldset{
    padding: 1em .8em;
    margin-left: 2em;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column; background: linear-gradient(to bottom, #f7f7fe, #dff1ff);

}